{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="I build Django and Flask Apps! I can also do react and vue.">

        <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
        {% block title %}
        
        {% endblock %}


        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-PGWE5NYLML"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-PGWE5NYLML');
        </script>


    </head>
    <body>
        {% include "header.html" %}
        <section class="section">
            <div class="container">
                {% block contents %}  

                {% endblock %} 
            </div>
        </section>
    </body>
</html>